extends layout

block content
	link(rel='stylesheet', href='/stylesheets/indexStyle.css')

	div#mainActivity
		img#mainPicture(src = "http://www.solaris7.com/files/members/602/BA_reference_1.jpg")
		div#mainDescriptionBox
			span#mainDescriptionTitle 피규어
			br
			br
			span#mainDescription
				|사진은 아무거나 연관있는걸루 
				|안녕하세요 간략한소개 
			a(href ="#")
				span.readMore				
					더보기
		div#mainBackground
			div#circleDiv
				a(href="")
					div#circle1
				a(href="")
					div#circle
				a(href="")
					div#circle
	
		div#subActivity
			div#makePadding
				table#subTable1
					tr
						td#subTitle1
							부활동1
					tr
						td.subRow1
							img#subImage1(src="http://i.imgur.com/ktV97uD.png")
					tr
						td.subRow2
							p#subDescription1
								안녕하세요 하는일을쓰세요. 안녕하세요 하는일을쓰세요.안녕하세요 하는일을쓰세요.안녕하세요 하는일을쓰세요.안녕하세요 하는일을쓰세요.안녕하세요 하는일을쓰세요
					tr
						td
							a(href ="#")
								span.readMore				
									더보기
				table#subTable2
					tr
						td#subTitle2
							부활동1
					tr
						td.subRow1
							img#subImage2(src="http://i.imgur.com/ktV97uD.png")
					tr
						td.subRow2
							p#subDescription2
								안녕하세요 하는일을쓰세요. 안녕하세요 하는일을쓰세요.안녕하세요 하는일을쓰세요.안녕하세요 하는일을쓰세요.안녕하세요 하는일을쓰세요.안녕하세요 하는일을쓰세요
					tr
						td
							a(href ="#")
								span.readMore			
									더보기

				table#subTable2
					tr
						td#subTitle2
							span Contact
					tr
						td.subRow1
							p#contactLabel
								|Phone: 
								span#contactContent 519-830-9446
								br
								br
								|Email: 
								span#contactContent kjparkdavid@gmail.com
								br
								br
								|Address: 
								span#contactContent 용인시 나곡동 210-1002&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
								br
								br
								br
								br
								br
								br
								br
					tr
						td.subRow2
							
					tr
						td
							a(href ="#")#thirdTableReadMore
								span.readMore			
									더보기